
body {
    background-color: darkgray;
    font-size: 20px;
}

#btn {
    margin-left: 45%;
    font-size: 40px;
    text-align: center;
    height: 60px;
    width: 200px;
    background-color:lightgreen;
}

#btn:hover {
    cursor:pointer;
    background-color:  green;
}
.container {
    height: 300px;
    width: 300px;
    background-color:black;
    margin: auto;
    margin-top: 5%;
}

.squere{
    background-color: white;
    height: 98px;
    width: 98px;
    border: 1px solid black;
    float: left;
    font-size: 85px;
    text-align: center;
}